@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

h1 {
    font-weight: 300;
    margin: 0;
    font-size: 40px;
}

.navElement {
    border: none;
    padding: 10px 20px;
    background-color: #4c6ef5;
    color: #fff;
    border-radius: 8px;
    margin-right: 8px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: border-radius 0.3s ease;
}

.navElement:hover {
    border-radius: 20px;
    background-color: #4c6ef5;
    text-decoration: none;
    transition: border-radius 0.5s ease;
}

.hero-image {
    background-image: linear-gradient(rgba(19, 19, 19, 0.5), rgba(23, 23, 23, 0.5)), url("https://source.unsplash.com/OxHPDs4WV8Y");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 2;
}

.hero-headings {
    text-align: center;
    padding: 34vh 100px;
    max-width: 800px;
    margin: 0 auto;
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.hero-headings {
    opacity: 0;
    animation: fadeInAnimation 2s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

.hero-title {
    color: #fff;
    font-size: 65px;
    font-weight: 450;
    margin-bottom: 25px;
}

.hero-headings p {
    color: #fff;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.hero-button {
    border: none;
    padding: 15px 30px;
    background-color: #4c6ef5;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #344aa1;
}

main {
    padding-top: 10px;
}

.core-capabilities {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
    font-weight: 400;
}

p {
    margin: 0 auto 30px;
    max-width: 800px;
    line-height: 1.6;
}

.graph-slideshow-container {
    padding: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.prev, .next {
    padding: 15px;
    font-family: inherit;
    color: #666666;
    font-size: 18px;
    transition: 0.6s ease;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #000;
}

.apis {
    padding: 30px 150px;
    background-color: #f5f5f5;
}

.apis-container {
    display: flex;
    justify-content: center;
}

.api-entity {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    padding: 15px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.api-logo {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fda-logo {
    background-image: url("https://cdn.freebiesupply.com/logos/large/2x/fda-logo-png-transparent.png");
}

.medicaid-logo {
    height: 100px;
    width: 250px;
    background-image: url("https://www.lovingcareelpaso.com/wp-content/uploads/2019/03/7adb09952be8956b2ce1d4eb1fe74004.jpeg");
}
.rxNorm-logo {
    height: 120px;
    width: 100px;
    background-image: url("https://mor.nlm.nih.gov/RxMix/images/RXMIX_ICON_1024px.png");
}

.api-header {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #444;
    text-decoration: none;
}

.api-header:hover {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

.installation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    text-align: center;
}

img {
    width: 50%;
}

code {
    background-color: #f5f5f5;
    color: inherit;
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

.contact {
    padding: 50px 100px;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0 auto;
}

.contact-header {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
    font-weight: 400;
}

.contact p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea.form-control {
    resize: vertical;
}

button[type="submit"] {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: #4c6ef5;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #344aa1;
}

footer {
    background-color: #706e6e;
    padding: 10px;
    text-align: center;
    color: #e3e2e2;
}

@media(max-width: 900px){
    h1 {
        font-size: 30px;
    }
    .navElement {
        font-size: 12px;
        padding: 8px 15px;
    }
    .api-text, p {
        font-size: 12px;
    }
}

@media(max-width: 600px){
    h1 {
        font-size: 20px;
    }
    .navElement {
        font-size: 12px;
        padding: 6px 13px;
    }
    .hero-title {
        font-size: 45px;
    }
    .hero-headings{
        font-size: 15px;
    }
    h2{
        font-size: 30px;
    }
    .core-text, p, code{
        font-size: 13px;
    }
    .api-text, p {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .api-logo {
        width: 100px;
        height: 100px;
    }
    .medicaid-logo {
        height: 80px;
        width: 200px;
    }
    .rxNorm-logo {
        height: 90px;
        width: 75px;
    }
    .api-header {
        font-size: 20px;
    }
    .api-entity {
        flex-direction: column;
        text-align: center;
    }
}
